{% extends "base.html" %}
{% load static %}

{% block page_title %}SPSB | News{% endblock page_title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock css_links %}


{% block content %}
    <div class="container mt-4">
        <div class="row">

            {% for post in news_posts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm news-card" data-bs-toggle="modal" data-bs-target="#modal{{ post.id }}">
                        <!-- Image -->
                        {% with post.post_media.first as pm %}
                            {% if pm %}
                                <img src="{{ pm.media.file.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
                            {% else %}
                                <img src="/static/default.jpg" class="card-img-top">
                            {% endif %}
                        {% endwith %}

                        <div class="card-body">
                            <p>
                            <!-- Date -->
                                <small class="text-muted">
                                    {{ post.created_at|date:"M d, Y" }}
                                </small>
                            </p>
                            <!-- Category -->
                            <span class="badge bg-primary mb-2">
                                {{ post.category.name }}
                            </span>

                            <!-- Admin Buttons -->
                            {% if request.user.is_staff %}
                            <div onclick="event.stopPropagation();">
                                <a href="{% url 'edit_post' post.id %}" class="text-primary me-2">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'delete_post' post.id %}" class="text-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                            {% endif %}
                            <!-- Title -->
                            <h5 class="card-title">{{ post.title }}</h5>

                            <!-- Content preview (4 lines) -->
                            <p class="card-text text-muted text-truncate-4">
                                {{ post.content }} 
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


 <!-- Modals for each post -->
    {% for post in news_posts %}
        <div class="modal fade" id="modal{{ post.id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"><b>{{ post.title }}</b></h5>
                    <button type="button" class="btn btn-warning btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <!-- Image -->
                    {% with post.post_media.first as pm %}
                        {% if pm %}
                            <img src="{{ pm.media.file.url }}" class="card-img-top" style="height:100vh; object-fit:cover;">
                        {% else %}
                            <img src="/static/default.jpg" class="card-img-top">
                        {% endif %}
                    {% endwith %}

                    <!-- Category + Date -->
                    <p class="text-muted">
                        <small>
                            {{ post.created_at|date:"M d, Y" }}
                        </small>
                    </p>

                    <!-- Full Content -->
                    <p class="m-text-truncate">{{ post.content }}</p>

                </div>

                </div>
            </div>
        </div>
    {% endfor %}



{% endblock content %}

<script src=" {% static "js/news.js" %} "></script>